{% extends "base.html" %}

{% block content %}

  <div class="well">
  <h2>About Eve</h2>
  <p class="lead">Eve is a place for save and share your links.
    You can post a link and immediately will be visible to everyone.
    Also, you can create your own profile of private links and share it with your friends.       
  </p>
  <p>
    
    This is an alpha test, so you can find that some things are not quite right and there are some errors.
    
      </p>
  <p>
    If you have an idea about that can be useful, please put it <a href="http://comunidades.uci.cu/projects/eve/issues/new">here.</a>
  </p>
  <p>
    Thanks for using Eve.
  </p>
  
  <strong>Colaborators:</strong>
  <ul>
    <li>Yet to come...</li>
    
    </ul>
  
  </div>
{% endblock %}
