{% extends "base.html" %}
{% load bootstrap %}

{% load bootstrap_toolkit %}

{% block extra_head %}
    {{ form.media }}
    
{% endblock %}

{% block content %}

  <div class="form-actions">
  <h2>Add a link</h2>
  <form action="{% url addLink  %}" method="post" class="form-horizontal">
  	{%csrf_token%}
  	{{ form|bootstrap }}
  	
  	<div>
		<button type="submit" class="btn btn-primary">Add Link</button>
	  </div>
  </form>
  
  
  </div>
  <div class="navbar">
  	<p>Top tags</p>
  </div>
{% endblock %}
