{% extends "base.html" %}

{% load bootstrap_toolkit %}



{% block content %}

 <div class="navbar">
  <h2>{{item.name}}</h2>
  <ul>
  	   
  	   <li>Descripcion: {{ item.description }}</li>
  	   <li>Direccion: <a href="{{ item.linkURL }}">{{ item.linkURL }}</a></li>
  	   <li>Publicado: {{ item.date_posted }}</li>
  	   <li>Etiquetas: {% for tag in item.tags.all %} {{tag.name}}, {%endfor%}</li>
       <li>Agregado por: {{ item.posted_by }}</li>

       <li><a href="{% url deleteLink item.id %}">Delete</a></li>

          
     
  </ul>
 </div>
  <div class="navbar">
  	<p>Top tags</p>
  </div>
{% endblock %}
